<form #tempForm="ngForm" (ngSubmit)="userLogin(tempForm.value)">
    <input 
        type="text"
        placeholder="Enter Name"
        name="name" 
        ngModel
        required
        #name="ngModel"
        pattern="[a-zA-z]+$"
        >
    <br>
        <span *ngIf="name.invalid && name.touched" style="color: red" >Please enter name</span>
    <br>
    <input 
        type="email"
        placeholder="Enter Email"
        name="email" 
        ngModel
        required
        email
        #email="ngModel"
        >
    <br>
        <span *ngIf="email.invalid && email.touched" style="color: red" >Please enter email</span>
    <br>
    <input type="password"
        placeholder="password"
        name="password"
        ngModel
        minlength="3"
        required    
        #password="ngModel"
    >
    <br>
    <span *ngIf="password.invalid && password.touched" style="color: red" >Please enter password</span>
        
    <br>
    <button [disabled]="tempForm.invalid">Login</button>
</form>